* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header[class="quotes"]{
    height : 50px;
    width: 100%;
    background-position: 50% 65%;;
    background-image: url(images/background-quotes-website.jpg);
    background-size: cover;

}

header[class="index"]{
    height : 50px;
    width: 100%;
    background-position: center;
    background-image: url(images/background-website.jpg);
    background-size: cover;
}

header[class="books"]{
    height : 50px;
    width: 100%;
    background-position: center;
    background-image: url(images/background-website-books.jpg);
    background-size: cover;
}

.p {
    display: flex;
    position: absolute;
    margin: 50px;
    justify-content: center;
}

.navbar {
    position: absolute;
    margin: AUTO;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: black;
}

.navbar .logo {
    font-size: 2em;
    border-radius: 3px;
}

.navbar .nav-links ul {
    display: flex;
    margin : 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar .nav-links ul li {
    margin: 0 25px
}


