body {
    font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  }
  

  
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.title-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color : #fff;
}

.title-container img {
    margin-right: 10px;
    height: 3em;
}


nav ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav li {
    margin-left: 20px;

}

nav li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
}

main {
    padding: 20px;
    flex: 1;
}


.password-container {
    text-align: center;
    margin: 20px;
  }
  
h2 {
    font-size: 20px;
}

#password-display {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    color : black;
}

#password-display:hover {
    cursor : pointer

}


#generate-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  
.text-area-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  

  
  textarea {
    width: 99%;
    resize: horizontal; /* Allow vertical resizing of the text area */
    max-width: 99%; /* Set the maximum width for the text area */
    max-height: 200px; /* Set the maximum height for the text area */
  }

article {
    padding: 10px;
    margin : 25px;
}

article h2 {
    font-size: 25px;
}
article p{
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    text-indent: 2em;
    letter-spacing: 0.5px;
    color: #333;
}

article ul {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin: 2em;
    letter-spacing: 0.5px;
    color: #333;
}

.animated-banner {
    display: flex;
    color: #fff;
    text-align: left;
    padding: 0;
    width: 100%; 
    margin: 0; 
}

.animated-banner img {
    width: 99%; 
    height:  43em;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}